<!doctype html>
<html class="no-js ui-mobile-rendering" lang="en">
<head>
    <meta charset="utf-8">
    <title>jQuery Mobile</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="vendor/jquery-mobile/jquery.mobile-1.3.2.min.css"/>
    <link rel="stylesheet" href="styles/main.css"/>
    <script src="cordova.js"></script>
    <script src="scripts/models/pebble.js" type="application/javascript"></script>
    <script src="vendor/socket.io/socket.io.js" type="application/javascript"></script>
    <script src="vendor/require/require.js" data-main="scripts/mobile"></script>
</head>
<body>

<div id="conversationOverview" data-role="page" data-title="Conversations">

    <div data-role="header">
        <div id="logo" data-state="online">
            <div class="ring-gradient a"></div>
            <div class="ring-gradient b"></div>
            <div class="ring-mask"></div>
            <div class="phone"></div>
        </div>
    </div>
    <!-- /header -->

    <div data-role="content">
        <ul data-role="listview">
        </ul>
    </div>
    <!-- /content -->

</div>

<div id="conversation" data-role="page" data-title="Conversation" data-add-back-btn="true">

    <div data-role="header">
        <h1>Conversation</h1>
    </div>
    <!-- /header -->

    <div data-role="content">
        <button class="sendContact">Contact</button>
        <form>
            <input type="text" class="input-message" name="message" placeholder="Nieuw bericht"/>
        </form>
        <ul>
        </ul>
    </div>
    <!-- /content -->
</div>


<div id="contactPicker" data-role="dialog" data-title="Contacts">

    <div data-role="header">
        <h1>Verzend een contactpersoon</h1>
    </div>
    <!-- /header -->

    <div data-role="content">
        <ul data-role="listview">
        </ul>
    </div>
    <!-- /content -->
</div>

<script class="conversationOverview" type="text/template">

    <% _.each( collection.toJSON(), function( conversation, id ) { %>

    <li>
        <a href="#conversations/<%= conversation.identifier %>">
            <%= conversation.identifier %> (<%= conversation.messages.length %>)</a>
    </li>

    <% }); %>


</script>

<script class="conversation" type="text/template">
    <% _.each( messages, function( message, id ) { %>
        <% if (message.from === "me") { %>
            <li class="wa-message out">
        <% } else { %>
            <li class="wa-message in">
        <% } %>
        <%= message.body %>
        </li>
    <% }); %>
    </ul>
</script>

<script class="contactPicker" type="text/template">

    <% _.each( contacts, function( contact, id ) { %>

    <li data-id="<%= contact.id %>" class="wa-contact ui-li ui-li-static ui-btn-up-c">
        <img src=""/>
        <%= contact.name.formatted %>
    </li>

    <% }); %>

</script>

</body>
</html>
