<!doctype html>
<html class="no-js ui-mobile-rendering" lang="en">
<head>
    <meta charset="utf-8">
    <title>jQuery Mobile</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="vendor/jquery-mobile/jquery.mobile-1.3.2.min.css"/>
    <link rel="stylesheet" href="styles/main.css"/>
    <script src="cordova.js"></script>
    <script src="scripts/models/pebble.js" type="application/javascript"></script>
    <script src="vendor/socket.io/socket.io.js" type="application/javascript"></script>
    <script src="vendor/require/require.js" data-main="scripts/init"></script>
</head>
<body>

<div data-role="header" class="ui-header ui-bar-a">
    <a href="#conversations" class="wa-toggle-panel">
        <span class="wa-bar"></span>
        <span class="wa-bar"></span>
        <span class="wa-bar"></span>
    </a>

    <div id="logo" data-state="online">
        <div class="ring-gradient a"></div>
        <div class="ring-gradient b"></div>
        <div class="ring-mask"></div>
        <div class="phone"></div>
    </div>
</div>

<div id="main" data-role="page" data-title="Conversations">

    <div id="conversations" data-role="panel">
        <ul data-role="listview">
        </ul>
    </div>
    <!-- /panel -->

    <div id="conversation" data-role="content">
        <button class="sendContact">Contact</button>
        <form>
            <input type="text" class="input-message" name="message" placeholder="Nieuw bericht"/>
        </form>
        <ul>
        </ul>
    </div>
    <!-- /content -->

</div>

<div id="conversationOverview" data-role="page" data-title="Conversations">

    <div data-role="content">
        <ul data-role="listview">
        </ul>
    </div>
    <!-- /content -->

</div>

<div id="contactPicker" data-role="dialog" data-title="Contacts">

    <div data-role="header">
        <h1>Verzend een contactpersoon</h1>
    </div>
    <!-- /header -->

    <div data-role="content">
        <ul data-role="listview">
        </ul>
    </div>
    <!-- /content -->
</div>

<script class="conversationOverview" type="text/template">

    <% collection.each(function( conversation, id ) { %>
    <% if (conversation.get('current')) { %>
    <li class="wa-current" data-icon="false">
        <% } else { %>
    <li data-icon="false">
        <% } %>
        <a href="#" data-id="<%= conversation.get('identifier') %>">
            <h2><%= conversation.get('subject') %></h2>


            <p><% if (conversation.get('messages').length > 0) { %>
                <%= conversation.get('messages').first().get('body') %>
                <% } else { %>
                &nbsp;
                <% } %>
            </p>
            <span class="ui-li-count"><%= conversation.get('messages').length %></span>
        </a>
    </li>
    <% }); %>


</script>

<script class="conversation" type="text/template">
    <% conversation.get('messages').each(function( message, id ) { %>
    <% if (message.get('from') === 'me') { %>
    <li class="wa-message out">
        <p><%= message.get('body') %></p>
    </li>
    <% } else { %>
    <li class="wa-message in">
        <% if(conversation.isGroupChat()) { %>
        <span class="wa-name"><%= message.get('name') %></span>
        <% } %>
        <p><%= message.get('body') %></p>
    </li>
    <% } %>
    <% }); %>
    </ul>
</script>

<script class="contactPicker" type="text/template">

    <% _.each( contacts, function( contact, id ) { %>

    <li data-id="<%= contact.id %>" class="wa-contact ui-li ui-li-static ui-btn-up-c">
        <img src=""/>
        <%= contact.name.formatted %>
    </li>

    <% }); %>

</script>

<script>
    document.addEventListener('deviceready', function () {
        var body = document.getElementsByTagName('body')[0];
        body.setAttribute('data-device', device.platform.toLowerCase() + '-' + device.version.toLowerCase());
    });
</script>

</body>
</html>
