body {
    font-family: Helvetica, Arial, sans-serif
}

/* === Header bar ====================================== */

.ui-header {
    height: 44px;
    background: #34af23;
    border: 1px solid transparent;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    box-shadow: 0 1px rgba(0, 0, 0, .1), 0 2px 2px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    z-index: 1000;

    position: fixed;
    left: 0;
    right: 0;
}

#main,
.ui-panel {
    padding-top: 44px;
}

.ui-overlay-a > .ui-header {
    opacity: 0;
}

/* === Logo ============================================ */

#logo,
#logo * {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 50%;
    top: 50%;
    margin: -18px;
    background-size: contain;
    overflow: hidden;
}

#logo .phone {
    background-image: url('../images/logo-phone.png');
}

#logo .ring-gradient,
#logo .ring-mask {
    width: 52px;
    height: 52px;
    margin: -26px;

}

#logo .ring-gradient.a {
    background-image: url('../images/logo-ring-gradient-a.png');
    -webkit-transition-duration: .25s;
}

#logo .ring-gradient.b {
    background-image: url('../images/logo-ring-gradient-b.png');
    -webkit-transition-duration: .25s;
}

#logo .ring-mask {
    background-image: url('../images/logo-ring-mask.png');
}

@-webkit-keyframes rotation-cw {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@-webkit-keyframes rotation-ccw {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-359deg);
    }
}

@-webkit-keyframes vibrate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    8% {
        -webkit-transform: rotate(-10deg);
    }
    16% {
        -webkit-transform: rotate(20deg);
    }
    24% {
        -webkit-transform: rotate(-10deg);
    }
    32% {
        -webkit-transform: rotate(20deg);
    }
    40% {
        -webkit-transform: rotate(-10deg);
    }
    48% {
        -webkit-transform: rotate(20deg);
    }
    56% {
        -webkit-transform: rotate(-10deg);
    }
    64% {
        -webkit-transform: rotate(0deg);
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
    #logo .phone {
        background-image: url('../images/logo-phone@2x.png');
    }

    #logo .ring-mask {
        background-image: url('../images/logo-ring-mask@2x.png');
    }
}

/* --- Offline  ---------------------------------------- */

body[data-state="offline"] #logo {
    background: rgba(0, 0, 0, .1);
}

body[data-state="offline"] #logo .ring-gradient {
    opacity: 0;
}

/* --- Connecting -------------------------------------- */

body[data-state="connecting"] #logo .ring-gradient.a {
    -webkit-animation: rotation-cw 2s infinite linear;
}

body[data-state="connecting"] #logo .ring-gradient.b {
    -webkit-animation: rotation-ccw 3s infinite linear;
}

/* --- Online ------------------------------------------ */

body[data-state="online"] #logo {
    background: rgba(255, 255, 255, 0.6);
}

body[data-state="online"] #logo .ring-gradient.a {
    -webkit-animation: rotation-ccw 6s infinite linear;
}

body[data-state="online"] #logo .ring-gradient.b {
    opacity: 0;
}

/* --- Unread ------------------------------------------ */

body[data-unread] #logo .phone {
    -webkit-animation: vibrate 1.4s linear infinite;
}

#main .ui-panel-content-wrap {
    background: #EEE8E0;
}

/* === Panel toggle button ============================= */

.wa-toggle-panel {
    position: absolute;
    bottom: -1px;
    top: -1px;
    left: 0;
    width: 48px;
}

.wa-toggle-panel .wa-bar {
    background-color: #ffffff;
    display: block;
    width: 20px;
    height: 3px;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 14px;
    margin-top: -8px;
}

.wa-toggle-panel .wa-bar:nth-child(2) {
    margin-top: -2px;
}

.wa-toggle-panel .wa-bar:nth-child(3) {
    margin-top: 4px;
}

/* === Sidebar ========================================= */

#conversations {
    -webkit-box-shadow: inset -1px 0 #D6D1CA;
    -moz-box-shadow: inset -1px 0 #D6D1CA;
    box-shadow: inset -1px 0 #D6D1CA;
}

#conversations li {
    background: none;
    border-top: none;
    border-bottom: 1px solid rgba(214, 209, 202, 0.4);
}

#conversations a {
    border-right: 4px solid transparent;
}

#conversations .wa-current a {
    border-right: 4px solid #34af23;
}

/* === Conversation ==================================== */

#conversation ul {
    list-style: none;
    overflow: auto;
    margin: 0;
    padding: 0;
}

#conversation div.ui-input-text {
    border: none;
    margin: 0;
    margin-left: 36px;
    box-shadow: none;
    border-radius: 0;
}

#conversation .ui-input-text.ui-focus {
    box-shadow: none;
    background: #fff;
}

.wa-message {
    margin: 8px 0 0;
    color: #fff;
    padding: 6px;
    clear: both;
    text-shadow: none;
    font-weight: 300;
}

.wa-message.in {
    float: left;
    margin-right: 36px;
    background: #34af23;
}

.wa-message.out {
    float: right;
    margin-left: 36px;
    background: #c7b299;
}

/* === OS specific overrides =========================== */

/* --- Android ----------------------------------------- */

body[data-device*="android"] .ui-header {
    height: 48px;
}

body[data-device*="android"] #main,
body[data-device*="android"] .ui-panel {
    padding-top: 48px;
}

/* --- iOS 7 ------------------------------------------- */

body[data-device*="ios-7"] .ui-header {
    height: 64px;
}

body[data-device*="ios-7"] #main,
body[data-device*="ios-7"] .ui-panel {
    padding-top: 64px;
}

body[data-device*="ios-7"] #logo {
    top: auto;
    bottom: 4px;
    margin-bottom: 0;
}

body[data-device*="ios-7"] .wa-toggle-panel .wa-bar {
    top: 42px;
}

/* wrap push on wide viewports once open */
@media (min-width: 780px) {
    .wa-toggle-panel {
        display: none;
    }

    #main {
        background: url('../images/bg-tablet.png') center;
    }

    #main .ui-panel-content-wrap {
        position: relative;
        width: 470px;
        left: 50%;
        margin-left: -80px;
        -webkit-transform: initial;
        transform: initial;
    }

    #conversations {
        left: 50%;
        margin-left: -390px;
        width: 310px;
        max-height: none;
        overflow: auto;
        visibility: visible;
        background: #fff;
        box-sizing: border-box;
    }

    #main .ui-panel-dismiss-display-push {
        display: none;
    }
}
